alembic>=1.14.0
aniso8601>=9.0.1
blinker>=1.6.2
CacheControl>=0.13.1
cachetools>=5.0.0
certifi>=2022.12.7
cffi>=1.15.1
charset-normalizer>=3.0.1
click>=8.0.4
colorama>=0.4.6
cryptography>=40.0.2
DateTime>=5.1
dnspython>=2.0.0
firebase-admin>=6.0.1
Flask>=2.2.3
flask-cors>=3.0.10
Flask-JWT-Extended>=4.5.2
Flask-Migrate>=4.0.4
Flask-RESTful>=0.3.9
Flask-SQLAlchemy>=3.0.3
google-api-core==2.11.0 
google-api-python-client==2.80.0 
google-auth==2.20.0 
google-auth-httplib2==0.1.0 
google-cloud-core==2.3.2 
google-cloud-firestore==2.10.0 
google-cloud-storage==2.8.0 
google-cloud-vision==3.3.1 
google-crc32c==1.5.0 
google-resumable-media==2.5.0 
googleapis-common-protos==1.56.4
greenlet>=2.0.2
grpcio>=1.50.0
grpcio-status>=1.50.0
gunicorn>=20.0.4
h11>=0.14.0
httplib2>=0.20.4
idna>=3.4
itsdangerous>=2.1.2
Jinja2>=3.1.2
Mako>=1.2.4
MarkupSafe>=2.1.2
msgpack>=1.0.5
packaging>=23.1
protobuf>=3.20.3,<4.0.0
proto-plus>=1.22.2
pyasn1>=0.4.8
pyasn1_modules>=0.2.8
pycparser>=2.21
PyJWT>=2.6.0
pymongo>=4.3.3
pyparsing>=3.0.9
python-dotenv>=1.0.0
pytz>=2023.3
requests>=2.28.2
rsa>=4.9
# Comment out the segment_anything package temporarily
# segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
SQLAlchemy>=2.0.15
stripe>=7.0.0
# Try installing tensorflow separately or with less strict constraints
# tensorflow==2.12.0
typing_extensions>=4.5.0
uritemplate>=4.1.1
urllib3>=1.26.0,<2.0
uvicorn>=0.20.0
Werkzeug>=2.2.3
zope.interface>=6.0.0